h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}

.title, .review h3 {
    color:#fff200;
}

body {
    background-color: black;
    color: white;
    font-family: 'Determination';
    margin: 0;
}

.OV, .OV1 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.OV2, .POV {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
    font-size: 19px;
}

.imdb {
    background-color: #F5C518;
    margin-top: 20px;
    height: 20px;
    padding: 0px;
    color: black;
    font-size: 1.05em;
}

.plot, .key, .char, .reviewdiv {
    margin: 0 auto;
    width: 90%;
    background-color:#2f162f;
    border: solid #4f244f;
    margin-bottom: 30px;
}

.plot hr, .key hr, .char hr, .reviewdiv hr {
    border: none;
    border-top: 3px solid #4f244f;
    margin: 20px 0;
}

.key td, .char td, .reviewdiv td {
    font-size: 19px;
    border: solid #4f244f 3px;
    padding: 10px;
}

.review {
    width: 90%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Determination';
    src: url('determination.ttf') format('truetype');
}

p {
    font-size: 15px;
}

nav {
    background-color: #2f162f;
    border: solid #4f244f 3px;
    text-align: center;
    position: fixed;
    top: 0;
    width: calc(100% - 6px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

li {
    display: inline;
}

a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navi {
    width: 100%;
}

.navi a:hover {
    background-color: #4f244f;
}

