html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: #fff;
    font-family: "Determination";
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box2 {
    border: solid #4f244f;
    background-color: #2f162f;
    display: inline-block; /* Allow the container to shrink-wrap its content */
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the width */
}


.box3 {
    font-size: 140%;
    
}

table {
    margin: 0 auto;
    justify-items: center;
}

hr {
    border: none;
    border-top: 3px solid #4f244f;
    margin: 10px 0;
}

@font-face {
    font-family: 'Determination';
    src: url('determination.ttf') format('truetype');
}

input {
    font-family: "Determination";
    background-color: #7b347b;
    color: #fdd33b;
    border: solid #4f244f;
    font-size: 0.8em;
}
